@mixin Display() {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @mixin Btn() {
    /* Group 3 */
  
    width: 217px;
    height: 56px;
    border-radius: 6px;
  
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    text-align: center;
  
    background: #0e8784;
    color: whitesmoke;
    border: none;
  
    &:hover {
      background-color: #66d2cf;
      transition: all 0.3s ease-in-out;
    }
  }